<div id="new_column" class="">
<div class="col s12 blue-grey darken-2 white-text text-lighten-1">Nowa kolumna</div>

<%= form_for :columns, data: {remote: true} do |f| %>

 <p>
      <input type="checkbox" id="test6" checked="checked" />
      <label for="test6">Yellow</label>
    </p>

    <!-- Switch -->
  


<div class="">
	<div class="input-field col m6 l3">
		

  <p>  
    <%= f.label :order %><br>
    <%= f.hidden_field :order %>
  </p>
  
  <p>  
    <% f.label :row_id %><br>
    <%= f.text_field :row_id %>
  </p>

    <%= f.label :background_color %><br>
    <%= f.text_field :background_color %>

	
<div class="palette-container">
	<table >
<tr class="palette_tr"><td class="palette red lighten-5"></td><td class="palette pink lighten-5"></td><td class="palette purple lighten-5"></td><td class="palette deep-purple  lighten-5"></td><td class="palette indigo lighten-5"></td><td class="palette blue lighten-5"></td><td class="palette light-blue lighten-5"></td><td class="palette cyan lighten-5"></td></tr>
<tr class="palette_tr"><td class="palette red lighten-4"></td><td class="palette pink lighten-4"></td><td class="palette purple lighten-4"></td><td class="palette deep-purple  lighten-4"></td><td class="palette indigo lighten-4"></td><td class="palette blue lighten-4"></td><td class="palette light-blue lighten-4"></td><td class="palette cyan lighten-4"></td></tr>
<tr class="palette_tr"><td class="palette red lighten-3"></td><td class="palette pink lighten-3"></td><td class="palette purple lighten-3"></td><td class="palette deep-purple  lighten-3"></td><td class="palette indigo lighten-3"></td><td class="palette blue lighten-3"></td><td class="palette light-blue lighten-3"></td><td class="palette cyan lighten-3"></td></tr>
<tr class="palette_tr"><td class="palette red lighten-2"></td><td class="palette pink lighten-2"></td><td class="palette purple lighten-2"></td><td class="palette deep-purple  lighten-2"></td><td class="palette indigo lighten-2"></td><td class="palette blue lighten-2"></td><td class="palette light-blue lighten-2"></td><td class="palette cyan lighten-2"></td></tr>
<tr class="palette_tr"><td class="palette red lighten-1"></td><td class="palette pink lighten-1"></td><td class="palette purple lighten-1"></td><td class="palette deep-purple  lighten-1"></td><td class="palette indigo lighten-1"></td><td class="palette blue lighten-1"></td><td class="palette light-blue lighten-1"></td><td class="palette cyan lighten-1"></td></tr>
<tr class="palette_tr"><td class="palette red "></td><td class="palette pink "></td><td class="palette purple "></td><td class="palette deep-purple  "></td><td class="palette indigo "></td><td class="palette blue "></td><td class="palette light-blue "></td><td class="palette cyan "></td></tr>
<tr class="palette_tr"><td class="palette red darken-1"></td><td class="palette pink darken-1"></td><td class="palette purple darken-1"></td><td class="palette deep-purple  darken-1"></td><td class="palette indigo darken-1"></td><td class="palette blue darken-1"></td><td class="palette light-blue darken-1"></td><td class="palette cyan darken-1"></td></tr>
<tr class="palette_tr"><td class="palette red darken-2"></td><td class="palette pink darken-2"></td><td class="palette purple darken-2"></td><td class="palette deep-purple  darken-2"></td><td class="palette indigo darken-2"></td><td class="palette blue darken-2"></td><td class="palette light-blue darken-2"></td><td class="palette cyan darken-2"></td></tr>
<tr class="palette_tr"><td class="palette red darken-3"></td><td class="palette pink darken-3"></td><td class="palette purple darken-3"></td><td class="palette deep-purple  darken-3"></td><td class="palette indigo darken-3"></td><td class="palette blue darken-3"></td><td class="palette light-blue darken-3"></td><td class="palette cyan darken-3"></td></tr>
<tr class="palette_tr"><td class="palette red darken-4"></td><td class="palette pink darken-4"></td><td class="palette purple darken-4"></td><td class="palette deep-purple  darken-4"></td><td class="palette indigo darken-4"></td><td class="palette blue darken-4"></td><td class="palette light-blue darken-4"></td><td class="palette cyan darken-4"></td></tr>
<tr class="palette_tr"><td class="palette red accent-1"></td><td class="palette pink accent-1"></td><td class="palette purple accent-1"></td><td class="palette deep-purple  accent-1"></td><td class="palette indigo accent-1"></td><td class="palette blue accent-1"></td><td class="palette light-blue accent-1"></td><td class="palette cyan accent-1"></td></tr>
<tr class="palette_tr"><td class="palette red accent-2"></td><td class="palette pink accent-2"></td><td class="palette purple accent-2"></td><td class="palette deep-purple  accent-2"></td><td class="palette indigo accent-2"></td><td class="palette blue accent-2"></td><td class="palette light-blue accent-2"></td><td class="palette cyan accent-2"></td></tr>
<tr class="palette_tr"><td class="palette red accent-3"></td><td class="palette pink accent-3"></td><td class="palette purple accent-3"></td><td class="palette deep-purple  accent-3"></td><td class="palette indigo accent-3"></td><td class="palette blue accent-3"></td><td class="palette light-blue accent-3"></td><td class="palette cyan accent-3"></td></tr>
<tr class="palette_tr"><td class="palette red accent-4"></td><td class="palette pink accent-4"></td><td class="palette purple accent-4"></td><td class="palette deep-purple  accent-4"></td><td class="palette indigo accent-4"></td><td class="palette blue accent-4"></td><td class="palette light-blue accent-4"></td><td class="palette cyan accent-4"></td></tr>
</table>
</div>
<div style='overflow-x:scroll;overflow-y:hidden;width:250px;height:200px'>
    <div style='width:400px;height:250px'></div>
</div>


	 <!-- Switch -->
  <div class="switch">
    <label>
      Off
      <input type="checkbox">
      <span class="lever"></span>
      On
    </label>
  </div>

  <p>
      <input type="checkbox" id="test5" />
      <label for="test5">Red</label>
    </p>
	</div>
	<div class=" col m6 l5">
   
 

 </span>
    <a class=" tooltipped" data-position="bottom" data-delay="50" data-tooltip="Linijka"><div>
      <div class="col s1 blue-grey darken-2 white-text text-lighten-1">1</div>
      <div class="col s1 blue-grey  white-text text-lighten-1">2</div>
      <div class="col s1 blue-grey darken-2 white-text text-lighten-1">3</div>
      <div class="col s1 blue-grey  white-text text-lighten-1">4</div>
      <div class="col s1 blue-grey darken-2 white-text text-lighten-1">5</div>
      <div class="col s1 blue-grey  white-text text-lighten-1">6</div>
      <div class="col s1 blue-grey darken-2 white-text text-lighten-1">7</div>
      <div class="col s1 blue-grey  white-text text-lighten-1">8</div>
      <div class="col s1 blue-grey darken-2 white-text text-lighten-1">9</div>
      <div class="col s1 blue-grey  white-text text-lighten-1">10</div>
      <div class="col s1 blue-grey darken-2 white-text text-lighten-1">11</div>
      <div class="col s1 blue-grey  white-text text-lighten-1">12</div>
  </div></a><br>
    <div class="switch">
    <label>
      <i class="material-icons right-align">visibility_off</i>
      <input type="checkbox">
      <span class="lever"></span>
     <i class="material-icons left-align">visibility</i>
    </label>
  </div>
    <p class="range-field">
    
      <span class="blue-grey-text text-darken-3"><i class="material-icons left">phone_iphone</i> Szerokość kolumny na smarphonach</span>
      <%= f.range_field :size_mobile, :min=>1, :max=>12, :value => 12, :class=>"slide", :id=>"size_mobile"%>
    </p>

     <p class="range-field">
     	<span class="blue-grey-text text-darken-3"><i class="material-icons left">tablet</i> Szerokość kolumny na tabletach</span>
      <%= f.range_field :tablet_size, :min=>1, :max=>12, :value => 12, :class=>"slide", :id=>"tablet_size"%>
      
    </p>

    <p class="range-field">
      
      <span class="blue-grey-text text-darken-3"><i class="material-icons left">computer</i> Szerokość kolumny na desktopach i laptopach</span>
      <%= f.range_field :desktop_size, :min=>1, :max=>12, :value => 12, :class=>"slide", :id=>"desktop_size"%>
    </p>
     <p class="range-field">
      <span class="blue-grey-text text-darken-3"><i class="material-icons left">personal_video</i> Szerokość kolumny na dużych monitorach</span>
      <%= f.range_field :smarttv_size, :min=>1, :max=>12, :value => 12, :class=>"slide", :id=>"smarttv_size"%>
    </p>


    <a class=" tooltipped" data-position="bottom" data-delay="50" data-tooltip="Linijka"><div>
      <div class="col s1 blue-grey darken-2 white-text text-lighten-1">1</div>
      <div class="col s1 blue-grey  white-text text-lighten-1">2</div>
      <div class="col s1 blue-grey darken-2 white-text text-lighten-1">3</div>
      <div class="col s1 blue-grey  white-text text-lighten-1">4</div>
      <div class="col s1 blue-grey darken-2 white-text text-lighten-1">5</div>
      <div class="col s1 blue-grey  white-text text-lighten-1">6</div>
      <div class="col s1 blue-grey darken-2 white-text text-lighten-1">7</div>
      <div class="col s1 blue-grey  white-text text-lighten-1">8</div>
      <div class="col s1 blue-grey darken-2 white-text text-lighten-1">9</div>
      <div class="col s1 blue-grey  white-text text-lighten-1">10</div>
      <div class="col s1 blue-grey darken-2 white-text text-lighten-1">11</div>
      <div class="col s1 blue-grey  white-text text-lighten-1">12</div>
  </div></a>
    
</div>


    	<%f.select :thc, options_for_select((10..100).step(10).to_a.map{|s| ["#{s}%", s]})%>


 <div class="input-field col s12">
    <%= f.submit 'Zapisz kolumnę', class: "waves-effect waves-light btn blue-grey darken-4" %>
  </div>
</div>
<% end %>
</div>

