$('#new_column').remove();
$('tr#Row_<%=@row.id%>').find('#new_link_column_row').show();
$('tr#Row_<%=@row.id%>').find('.added_columns').append('<div class="col s6 <%= @column.background_color  %>">Kolumna<%= @column.id %><br></div>');



///$('#zero_rows').remove();
//$('#new_rows').show().removeClass('pulse');
