

$('tr#Row_<%=@row.id%>').find('#new_link_column_row').hide()
//$('tr#Row_<%=@row.id%>').replaceWith('<%= j render("form") %>');
$('tr#Row_<%=@row.id%>').find('.added_columns').append('<%= j render("form") %>');
