<div class="grey lighten-3">
<%= form_for @page,  url: { action: "update"} do |form| %>
  <%= @page.errors.full_messages.first if @page.errors.any? %>

  <div class="input-field col s9">
    <%= form.label :Tytuł_strony %><br>
    <%= form.text_field :title %>
  </div>
 
   <div class="input-field col s9">
    <%= form.label :Opis_strony %><br>
    <%= form.text_area :description , class: 'materialize-textarea'%>
  </div>

   <div class="input-field col s9">
    <%= form.label :URL %><br>
    <%= form.text_field :slug %>
  </div>

  
  <div class="switch">
    <label>
      Indeksuj w wyszukiwarce<br>
      Off
      <%= form.check_box(:index, :checked_value => "INDEX", :unchecked_value => "NOINDEX") %>
      
      <span class="lever"></span>
      On
    </label>
  </div>

  <div class="switch">
    <label>
      Podążaj (atrybut follow)<br>
      Off
      <%= form.check_box( :follow, :checked_value => 'FOLLOW', :unchecked_value => 'NOFOLLOW')%>
      
      <span class="lever"></span>
      On
    </label>
  </div>

<p>
    <%= form.submit 'Zapisz', class: "waves-effect waves-light btn blue-grey darken-4" %>
</p>
<% end %>



<div class="row ">

<table class="col s12 ">
  <tbody class="sortable" id="added_rows">  <!-- sortable target -->
    <% @page.rows.order(:order).all.each_with_sortable_id do |row, sortable_id| %>
      <tr class=" row z-depth-1 hoverable" style="display:block; min-height:100%; margin-bottom:15px;" id="<%= sortable_id %>">  <!-- Needs id tag on sorting elements -->
         <td class="padding0 center-align " style="display:block; min-width:100%; margin-bottom:15px;" >
          <div class="header handle blue-grey darken-4 blue-grey-text text-lighten-1 center-align " style="cursor:move;">Wiersz 
            <div class="right red-text" style="margin-right:10px;"><span class=" tooltipped" data-position="bottom" data-delay="50" data-tooltip="Usuń wiersz"><%= link_to delete_row_path(row.id), remote: true, method: :delete do %><span class="blue-grey-text text-lighten-1 "> <i class="material-icons">delete_forever</i></span ></span>


            <% end %><span class=" tooltipped" data-position="bottom" data-delay="50" data-tooltip="Edytuj wiersz"><%= link_to edit_row_path(row.id), remote: true do %><span class="blue-grey-text text-lighten-1"> <i class="material-icons">edit</i></span ><% end %></span></div></div>

          </div>
          <div class="body_row"><%= render row %>
            </div>


        </td>
    </tr>
    
  <% end %>
   </tbody>
  <tfoot>
       <tr class=" row z-depth-1" id="new-row">  <!-- Needs id tag on sorting elements -->
         <td class="" style="display:block; min-width:100%" >
          <div class="vertical-align blue-grey darken-4  z-depth-0 center-align dashed ">
            <% unless @page.rows.any? %>
            <div id="zero_rows">
                      Nie masz jeszcze żadnego wiersza.<br>
                      Dodaj pierwszy.

                      Wiersze ułatwiają układanie treści na stronie.<br>

              <%= link_to new_page_row_path(@page.id), id: "new_link", class: "btn-floating btn-large waves-effect waves-light blue-grey darken-4 pulse", remote: true do %>
              <i class="material-icons white-text">add</i>
            </div>
              <% end %>
            <% else %>
                 <div id="new_rows">     
              <% link_to new_page_row_path(@page.id), id: "new_link", class: "btn-floating btn-large waves-effect waves-light blue-grey darken-4 ", remote: true do %>
              <i class="material-icons white-text">add</i>
              <% end %>
              <span class=" tooltipped" data-position="bottom" data-delay="50" data-tooltip="Dodaj nowy wiersz"><%=  link_to create_row_path(@page.id), :method => :post , id: "new_link", class: "btn-floating btn-large waves-effect waves-light blue-grey lighten-1 ", remote: true do %>
              <i class="material-icons blue-grey-text text-darken-4">add</i>
            <% end %>
                </div></span>
            <% end %>
        
        </div>
        </td>
    </tr>
    </tfoot>
 
</table>

</div>

</div>










