<% title 'Strony' %>

<div class="row">
  <div class="col s12 m6 ">
    <h2 class="blue-grey-text text-darken-4">Strony (<%= @pages.count %>)</h2>
  </div>

  <div class="col s12 m6 ">
    <div style="font-size: 3.56rem;line-height: 110%;margin: 1.78rem 0 1.424rem 0;"><%= link_to  new_page_path, class: "blue-grey darken-4 blue-grey-text text-lighten-1 btn btn-large right" do %><i class="material-icons left">add</i> Dodaj nową stronę <% end %>
    </div>
  </div>


</row>

<% if @pages.any? %>

	
<table class="highlight ">
  <thead class="blue-grey-text text-darken-2">
    <tr>
      <td>Strona</td>
      <td class="action"><i class="material-icons">visibility</i></td>
      <td class="action"><i class="material-icons">edit</i></td>
      <td class="action"><i class="material-icons">delete_forever</i></td>
    </tr>
  </thead>
	<% @pages.each do |page| %>
		<tr>
      <td><%= link_to page.title, edit_page_path(page.id)  %></td>
      

      <td class="action"><%= link_to show_path(page.slug) do %><span class="blue-grey-text text-lighten-1 right"> <i class="material-icons">visibility</i></span ><% end %></td>
      <td class="action"><%= link_to edit_page_path(page.id) do %><span class="blue-grey-text text-lighten-1 right"> <i class="material-icons">edit</i></span ><% end %></td>

      <td class="action"><% link_to "Usuń", page, method: :delete, data: {confirm: "Potwierdź?"}  %> 
      <%= link_to delete_page_path(page.id), method: :delete, data: {confirm: "Potwierdź?"} do %><span class="blue-grey-text text-lighten-1 right "> <i class="material-icons">delete_forever</i></span ><% end %></td>
    </tr>
	<% end %>
</table>
<% else %>

	
	<div class="row">
	  <div class="col s12 ">
	    <div class="card">
	      
	      <div class="card-content vertical-align ">
	        <p><i class="material-icons orange-text text-darken-3 left">info</i>Nie masz jeszcze żadnej strony. <%= link_to 'Dodaj pierwszą stronę', new_page_path  %><a class="right btn-floating btn-large  waves-effect waves-light orange darken-3"><i class="material-icons right">add</i></a></p>
	        
	      </div>
	    </div>
	  </div>
	</div>
	          
	

<% end %>