/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery-ui
 *= require_tree .
 *= require_self
 */
@import "materialize/components/color";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
$primary-color: color("blue-grey", "darken-4") !default;
$secondary-color: color("blue", "base") !default;
@import 'materialize';

.row, .ui-state-highlight {
	min-height: 56px;
	margin-bottom:3px;
}

.padding0 {
	padding:0 !important;
}

td.action {
	width:12px !important;
	padding:12px;
}

 .handle {
	min-height: 2.4em !important;
	padding-top:5px; 

}

.column {
	margin-top:15px;
}

.toltipped{
	
}

.palette-container {
	overflow-x:scroll;overflow-y:scroll;width:100%;height:200px
}
.palette {
	

	min-width:50px !important;
	height:10px;
}

.palette_tr {

}