// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.dashed {
	border:2px dashed white;
	padding-top: 9px;
	padding-bottom: 9px;
	margin-top:5px;
}