<div id="new_row" class="white">

<%= form_for :rows, remote: true do |row| %>

  <p>  
    
  </p>
 <div class="row"> 
  <div class="input-field col s6">
    <%= row.label :Klasa_html_opcjonalnie %><br>
    <%= row.text_field :html_class %>
  </div>

 <div class="input-field col s6">
    <%= row.submit 'Zapisz wiersz', class: "waves-effect waves-light btn blue-grey darken-4" %>
  </div>
</div>
<% end %>
</div>

