<div class="row <%= row.html_class %>">
	<% row.columns.any? %>

	<table class="col s12" style="display:block; ">
		

		<tbody class="added_columns row padding0" style="display:block;"><!-- sortable target -->
			<% row.columns.order(:order).all.each_with_sortable_id do |column, sortable_id_col| %>
				<tr class="column z-depth-1 hoverable padding0 col s<%=column.size_mobile%>" style="display:block; margin-bottom:15px; " id="<%= sortable_id_col %>">  <!-- Needs id tag on sorting elements -->
			         <td class="padding0 center-align " style="display:block; min-width:100%; margin-bottom:15px;" >
			          <div class="handle_column blue-grey darken-2 blue-grey-text text-lighten-4 center-align " style="cursor:move;">Kolumna 
			            <div class="right red-text" style="margin-right:10px;"><%= link_to delete_column_path(column.id), remote: true, method: :delete do %><a class=" tooltipped" data-position="bottom" data-delay="50" data-tooltip="Usuń kolumnę"><span class="blue-grey-text text-lighten-4 "> <i class="material-icons">delete_forever</i></span ></a>


			            <% end %><%= link_to edit_column_path(column.id), remote: true do %><span class=" tooltipped" data-position="bottom" data-delay="50" data-tooltip="Edytuj kolumnę"><span class="blue-grey-text text-lighten-4"> <i class="material-icons">edit</i></span ></span><% end %></div></div>

			          </div>
			          <div class="body_column "><%= render column %>
			            </div>


			        </td>
			    </tr>
				
			<% end %>
		</tbody> 
	</table>
<br><br><br>
	<span class=" tooltipped" data-position="bottom" data-delay="50" data-tooltip="Dodaj nową kolumnę">
	<%=  link_to new_column_path(row.id) , id: 'new_link_column_row', class: "btn-floating btn-large waves-effect waves-light blue-grey lighten-1 ", remote: true do %>
              <i class="material-icons blue-grey-text text-darken-4">add</i>
            <% end %>
    </span>
</div>



