//$('tr#Row_<%=@row.id%>').fadeOut('slow');
$('tr#Row_<%=@row.id%>').find('.row').removeClass('white').addClass('red');
$('tr#Row_<%=@row.id%>').find('.blue-grey, span, .material-icons').removeClass('blue-grey blue-grey-text text-lighten-1').addClass('red darken-4 red-text');
$('tr#Row_<%=@row.id%>').slideUp('slow');
///$('#zero_rows').remove();
//$('#new_rows').show().removeClass('pulse');
