$('tr#Row_<%=@row.id%>').find('.body_row').replaceWith('<%= j render("form") %>');
//$('tr#Row_<%=@row.id%>').find('.body_row').hide('slow');
//$('tr#Row_<%=@row.id%>').find('.body_row').append('<%= j render("form") %>');
//$('tr#Row_<%=@row.id%>').find('form').hide();
//$('tr#Row_<%=@row.id%>').find('form').slideDown('slow');
//$('#new_link').hide().after('<%= j render("form") %>');
