
$('tr#Row_<%=@row.id%>').find('form').slideUp('slow');
$('#new_row').remove();
$('#new_link').show();
$('tr#Row_<%=@row.id%>').replaceWith('<tr class=" row z-depth-1 hoverable" style="display:block; min-height:100%; margin-bottom:5px;" id="Row_<%=@row.id %>">         <td class="padding0 center-align " style="display:block; min-width:100%; margin-bottom:5px;" >          <div class="handle blue-grey darken-4 blue-grey-text text-lighten-1 center-align " style="cursor:move;">Wiersz             <div class="right red-text" style="margin-right:10px;"><%= link_to delete_row_path(@row.id), remote: true, method: :delete do %><span class="blue-grey-text text-lighten-1 "> <i class="material-icons">delete_forever</i></span >            <% end %><%= link_to edit_row_path(@row.id), remote: true do %><span class="blue-grey-text text-lighten-1"> <i class="material-icons">edit</i></span ><% end %></div></div></div>          <div class="body_row"><%= j render(@row) %></div>        </td>    </tr>');


///$('#zero_rows').remove();
//$('#new_rows').show().removeClass('pulse');
